CompileFlags:
  Remove:
    - "-forward-unknown-to-host-compiler"
    - "-rdc=true"
    - "--generate-code*"
    - "-Xcompiler*"
    - "--options-file*"
    - "-ccbin*"
---
If:
  PathMatch: .*\.cu
CompileFlags:
  Add:
    - "--cuda-gpu-arch=sm_120"
    - "-Wno-unknown-cuda-version"
