.git
.github
build
build/**
analysis
analysis/**
data
data/**
cluster
cluster/**
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.cache
.venv
venv
dist
dist/**
*.egg-info
.DS_Store
*.swp
*.swo
*.tmp
*.log
